<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-cabeza">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mi-cabeza`
     * cabeza
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiCabeza extends Polymer.Element {
      static get is() { return 'mi-cabeza'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-cabeza'
          }
        };
      }
    }

    window.customElements.define(MiCabeza.is, MiCabeza);
  </script>
</dom-module>
