<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tab.html">


<dom-module id="mi-cabeza">
  <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <paper-tab>
          <p>uno</p>
      </paper-tab>
      <paper-tab>
          <p>Dos</p>
      </paper-tab>
      <paper-tab>
          <p>Tres</p>
      </paper-tab>
  </template>

  <script>
    /**
     * `mi-cabeza`
     * cabeza
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiCabeza extends Polymer.Element {
      static get is() { return 'mi-cabeza'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-cabeza'
          }
        };
      }
    }

    window.customElements.define(MiCabeza.is, MiCabeza);
  </script>
</dom-module>
